@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  color: #151417;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 1em 2em;
}

header {
  text-align: center;
}

header div span {
  display: block;
}

#experience div span {
  display: block;
}

#experience .location {
  font-style: italic;
}

#education div span {
  display: block;
}

#education .location {
  font-style: italic;
}

#skills div .badge {
  background-color: #800080;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
}

footer {
  text-align: center;
  padding-bottom: 1em;
}

@media (min-width: 992px) {
  main {
    padding: 1em 20em;
  }
}
